@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
}

#app {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--light-weak);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
}